@use "../../assets/styles/fonts.scss";
@use "../../assets/styles/variables.scss";
.sectionMain{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #33353F;
    padding-left: 2rem;
    color: white;

    &Logo{
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    &Info{
        display: flex;
        gap: 0.7rem;
        flex-direction: column;
        &Title{
            @extend .roboto-900;
            font-size: 1.8rem;

        }
        p{
          @extend .roboto-500;
            font-size: 1.2rem;
        }
    }
}

.tvImage {
    position: relative;
    min-width: 41.65rem;
    height: 41.65rem;
    
    @media screen and (max-width: variables.$tablet) {
        width: 25rem;
        height: 17.5rem;
    }
    @media screen and (max-width: variables.$mobile) {
        width: 21.4rem;
        height: 14.9rem;
    }

    &Img {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 2;
    }
}

.gradientTop,
.gradientLeft,
.gradientBottom {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    @media screen  and (max-width: variables.$tablet) {
        display: none;
    }
}

.gradientTop {
    top: 10%;
    left: 50%;
    transform: translate(-35%, -25%);
    height: 20rem;
    width: 25rem;
    background: radial-gradient(ellipse at center, rgba(154, 0, 0, 0.4) 0%, rgba(154, 0, 0, 0) 80%);
}

.gradientLeft {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 20%;
    width: 15rem;
    height: 25rem;
    background: radial-gradient(ellipse at center, rgba(154, 0, 0, 0.3) 0%, rgba(154, 0, 0, 0) 80%);
}

.gradientBottom {
    left: 50%;
    transform: translate(-35%, 25%);
    bottom: 10%;
    height: 20rem;
    width: 25rem;
    background: radial-gradient(
                    ellipse at center,
                    rgba(154, 0, 0, 0.4) 0%,
                    rgba(154, 0, 0, 0) 80%
    );
}
.mouseContainer{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: end;
    transform: translateY(-2rem);
    z-index: 10;

    @media screen and (max-width: variables.$tablet) {
        display: none;
    }

    img{
        animation: moveUpDown 2s ease-in-out infinite;
    }

    @keyframes moveUpDown {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }

}